<html lang="en-gb">
<%- include('_head') -%>
<body class="post-list">
    <div class='header-post-list'><%- include('_header') -%></div>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <li>
            <h2><%= post.message%></h2> 
            <img class='list-image' src="<%= post.imageUrl%>" alt="<%=post.message%>">
            <p>Posted by: <%=post.postedBy.name%></p>
            <p>Created on: <%=post.createdAt%></p>
            <div class='like-container'>
            <form action="/posts/<%= post.id%>/like/" method="POST">
                <button class = 'like-button' type="submit">❤️</button>
                <p class='like-counter'><%=post.likedBy.length%></p>
            </form>       
            <form action="/posts/<%= post.id%>/like" method="POST">
                <button class = 'dislike-button' type="submit">💔</button>
                <p class='dislike-counter'><%=post.dislikedBy.length%></p>
            </form> 
        </div>
        </li>
    <% }); %>
</ol>
<div class='footer'>
<%if (next) { %>
    <a  class='button' href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a class='button' href="<%= previous %>">Previous</a>
<% } %>
<%- include('_footer') -%>

</div>
</body>
</html>